<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <input type="submit" (click)="logout()" value="Log Out" class="btn float-right login_btn " style="width:100px">
</nav>
<button (click)="deleteParent()" style="float: right; margin: right 20px;" class="btn btn-danger">Delete</button>
<h1 style="color: white;">Welcome {{user}}</h1>
<h4 style="color: white;">System Date and Time : {{sDetails | date : 'short'}}</h4>
<a routerLink="/transaction">View Transaction History</a>
<!-- child delete confirm -->
<app-delete-confirm (onDelete)="onDelete($event)" (onCancel)="onCancel()" [item]="acno"></app-delete-confirm>

<!-- Deposit Form -->
<div [ngClass]="acno?'style1':''" class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Deposit Form</h3>

            </div>
            <div class="card-body">
                <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                    <!-- acno -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="acno" name="acno" type="text" class="form-control"
                            placeholder="Account Number" id="d_acno" required>
                    </div>
                    <div *ngIf="this.depositForm.get('acno')?.touched&&this.depositForm.get('acno')?.errors" style="color: red;">Invalid Account Number</div>
                    <!-- pswd -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input formControlName="pswd" name="pswd" type="password" class="form-control"
                            placeholder="Password" id="d_password" required>
                    </div>
                    <div *ngIf="this.depositForm.get('pswd')?.touched&&this.depositForm.get('pswd')?.errors" style="color: red;">Invalid Password</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="amount" name="amount" type="text" class="form-control" placeholder="Amount"
                            id="d_amount" required>

                    </div>
                    <div *ngIf="this.depositForm.get('amount')?.touched&&this.depositForm.get('amount')?.errors" style="color: red;">Invalid Amount</div>
                    <div class="form-group">
                        <input type="submit" value="Deposit" class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Withdraval Form -->
<div [ngClass]="acno?'style1':''"  class="container col-md-12 mt-5 mb-5">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Withdraw Form</h3>

            </div>
            <div class="card-body">
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
                    <!-- acno -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="acno1" name="acno" type="text" class="form-control"
                            placeholder="Account Number" id="w_acno" required>
                    </div>
                    <div *ngIf="this.withdrawForm.get('acno1')?.touched&&this.withdrawForm.get('acno1')?.errors" style="color: red;">Invalid Account Number</div>
                    <!-- pswd -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input formControlName="pswd1" name="pswd" type="password" class="form-control"
                            placeholder="Password" id="w_password" required>
                    </div>
                    <div *ngIf="this.withdrawForm.get('pswd1')?.touched&&this.withdrawForm.get('pswd1')?.errors" style="color: red;">Invalid Password</div>
                    <!-- amount -->
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input formControlName="amount1" name="amount" type="text" class="form-control" placeholder="Amount"
                            id="w_amount" required>

                    </div>
                    <div *ngIf="this.withdrawForm.get('amount1')?.touched&&this.withdrawForm.get('amount1')?.errors" style="color: red;">Invalid Amount</div>

                    <div class="form-group">
                        <input type="submit" value="Withdraw" class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
